<div class="main-bnr bg-light" style=" padding: 0;">
  <!-- <div style="display: inline;">
  <div class="container" style="margin: 0;"> -->
    <div class="row align-items-center">
      <!-- <app-left-section class="col-xl-12 col-lg-12 col-md-12" ></app-left-section> -->
      <div class="px-1 col-md-8 col-12">
        <div style="position: relative; height: 100%; display: flex; justify-content: center; align-items: center;"
          class="styles_banner__siteSelector__2HYo1 text-overlay wow fadeInUp" data-wow-delay="1.0s" >
          <div class="d-flex flex-column justify-content-center align-items-center text-overlay__content">
          </div>

          <div style="position: absolute; padding: 25px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <h6 class="sub-title wow fadeInUp" data-wow-delay="0.4s">
              We Have 208,000+ Live Jobs
            </h6>
            <h1 class="wow fadeInUp" id="text" data-wow-delay="0.6s" style="font-size: 35px;">
              Your <span class="text-primary">Dream</span> Job Is Waiting For You
            </h1>
            <p class="text text-primary wow fadeInUp font-w500" data-wow-delay="0.8s">
              Type your keywork, then click search to find your perfect job.
            </p>
            <div class="bnr-search-bar wow fadeInUp" data-wow-delay="1.0s">
              <div class="row align-items-center justify-content-center">
                <div class="col-xl-9 col-lg-8 col-md-9 col-sm-12">
                  <div class="row center-line">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="search-bar">
                        <span>
                          <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <div class="icon-content w-100">
                          <input name="dzEmail" required="required" class="form-control"
                            placeholder="Job Title, Keywords..." type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="search-bar">
                        <span>
                          <i class="fa-solid fa-location-dot"></i>
                        </span>
                        <div class="icon-content w-100">
                          <input name="dzEmail" required="required" class="form-control" placeholder="City Or Postcode"
                            type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <app-find-jobs-btton class="col-xl-3 col-lg-4 col-md-3 col-sm-12 text-lg-end text-md-center text-center">
                </app-find-jobs-btton>
              </div>
            </div>
            <h6 class="bottom-contact wow fadeInUp" data-wow-delay="1.2s">
              <span>Popular Searches: </span>
              <a href="javascript:void(0);">Designer,</a>
              <a href="javascript:void(0);">Senor,</a>
              <a href="javascript:void(0);">Architecture,</a>
              <a href="javascript:void(0);">IOS,</a>
              <a href="javascript:void(0);">Etc.</a>
            </h6>
          </div>
          <img style="height: 400px;" src="https://www.gravitasgroup.com/assets/banners/home/site_selector_bg.png"
            title="" alt="" loading="lazy" data-sourceflow-type="image"
            data-sourceflow-path="img-page.home.banner.chooseRegion.bg"
            data-sourceflow-placeholder="/assets/banners/home/site_selector_bg.png" class="text-overlay__background">
        </div>
      </div>

      <!-- Upload CV Section -->
    <div class="px-1 col-md-4 col-12" >
        <div routerLink="/cv" class="styles_banner__uploadCV__2oCHc text-overlay wow fadeInUp" data-wow-delay="1.2s"
          style="position: relative; height: 100%;">
          <a  style="position: absolute; top: 40%; left: 16%;"
            class="d-flex justify-content-center gap-3 text-overlay__content">
            <span data-sourceflow-type="text" data-sourceflow-path="page.home.banner.uploadCV.en"
              class="h3 text-secondary">
              <span>Upload CV</span>
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="43" fill="none">
              <path stroke="#FC470E" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M23.75 30.889h5.64c4.083 0 7.422-2.453 7.422-7.021s-3.933-6.843-7.124-7.021c-.66-7.144-5.27-11.49-10.688-11.49-5.121 0-8.42 3.846-9.5 7.66-4.453.479-8.312 3.685-8.312 8.936s4.007 8.936 8.906 8.936h4.156">
              </path>
              <path stroke="#FC470E" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M23.75 21.482 19 16.107l-4.75 5.375M19 37.642v-20.19">
              </path>
            </svg>
          </a>
          <img style="height: 400px;" src="https://www.gravitasgroup.com/assets/banners/home/upload_cv_bg.png" title=""
            alt="" loading="lazy" data-sourceflow-type="image" data-sourceflow-path="img-page.home.banner.uploadCV.bg"
            data-sourceflow-placeholder="/assets/banners/home/upload_cv_bg.png" class="text-overlay__background">
        </div>
      </div>
      <!-- <app-right-section
        class="col-xl-5 col-lg-5 col-md-12"
      ></app-right-section> -->
    </div>
  <!-- </div>
</div> -->
  <!-- <app-svgs></app-svgs> -->
</div>
