<div>
  <div class="banner-media">
    <img
      class="media wow bounceInRight"
      data-wow-delay="1.4s"
      src="assets/images/home-banner/media-men.png"
      alt=""
    />
    <ul class="bnr-blocks">
      <li>
        <div
          class="bnr-block wow fadeInUp anm"
          data-wow-delay="1.6s"
          data-speed-x="-1"
          data-speed-scale="-1"
        >
          <i class="fa-solid fa-envelope"></i>
          <span class="block-text"
            >Work Inquiry From <br />
            All Tufon</span
          >
        </div>
      </li>
      <li>
        <div
          class="bnr-block wow fadeInUp anm"
          data-wow-delay="1.6s"
          data-speed-x="-2"
          data-speed-scale="-1"
        >
          <i class="fa-solid fa-briefcase"></i>
          <span class="block-text"
            >Creative Agency <br />
            Startup</span
          >
        </div>
      </li>
      <li>
        <div
          class="bnr-block-pics wow fadeInUp anm"
          data-wow-delay="1.6s"
          data-speed-x="-3"
          data-speed-scale="-1"
        >
          <span class="block-text">Expert Team Members</span>
          <div class="twm-pics">
            <span
              ><img
                src="assets/images/banner/banner-block-pics/pic1.jpg"
                alt="image"
            /></span>
            <span
              ><img
                src="assets/images/banner/banner-block-pics/pic2.jpg"
                alt="image"
            /></span>
            <span
              ><img
                src="assets/images/banner/banner-block-pics/pic3.jpg"
                alt="image"
            /></span>
            <span
              ><img
                src="assets/images/banner/banner-block-pics/pic4.jpg"
                alt="image"
            /></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
