<div class="page-content content-down">
  <!-- Banner  -->
  <div
    class="dz-bnr-inr dz-bnr-inr-sm text-center overlay-primary-dark"
    style="background-image: url(assets/images/banner/bnr3.jpg)"
  >
    <div class="container">
      <div class="dz-bnr-inr-entry">
        <h1>Blog Details</h1>
        <nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Blog Details
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- Banner End -->

  <!-- Blog Details -->
  <section class="content-inner position-relative" style="background: white">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8">
          <app-top-left-section
            class="blog-single pt-20 sidebar dz-card"
          ></app-top-left-section>
          <div class="widget-title">
            <h4 class="title">Related Blog</h4>
          </div>
          <div class="row m-b30 m-sm-b10">
            <app-blog-details-card
              *ngFor="let item of blogDetailsCards"
              class="col-md-6 col-xl-6 m-b30"
            ></app-blog-details-card>
          </div>
          <!-- Comment List -->
          <div class="clear" id="comment-list">
            <div class="comments-area" id="comments">
              <div class="widget-title style-1">
                <h4 class="title">Comments</h4>
              </div>
              <div class="clearfix">
                <!-- comment list END -->
                <ol class="comment-list">
                  <app-comments
                    class="comment"
                    *ngFor="let item of commentCards"
                  >
                    <!-- list END -->
                  </app-comments>
                </ol>
                <!-- comment list END -->

                <!-- Form -->
                <app-leave-comment
                  class="comment-respond"
                  id="respond"
                ></app-leave-comment>
                <!-- Form -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <aside class="side-bar sticky-top right">
            <app-search class="widget"> </app-search>

            <app-categories class="widget widget_categories"></app-categories>

            <app-recent-posts
              class="widget recent-posts-entry"
            ></app-recent-posts>

            <app-popular-tags
              class="widget widget_tag_cloud"
            ></app-popular-tags>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Details -->
</div>
