<div class="page-content content-down">
  <!-- Banner  -->
  <app-global-banner [bannerData]="bannerData"></app-global-banner>
  <!-- Banner End -->

  <!-- Map Iframe -->
  <section class="map-wrapper1 overflow-hidden content-inner">
    <div class="container">
      <div class="row align-items-center">
        <!-- Left section -->
        <app-get-in-touch class="col-xl-5 col-lg-5 m-b30">
        </app-get-in-touch>
        <!-- Right section -->
        <app-form-section class="col-xl-7 col-lg-7 col-sm-12 m-b30">
        </app-form-section>
      </div>
    </div>
  </section>
  <!-- Map Iframe End -->
</div>
