<nav aria-label="Blog Pagination">
  <ul class="pagination style-2 text-center wow fadeInUp" data-wow-delay="0.8s">
    <li class="page-item">
      <a class="page-link prev" href="javascript:void(0);"
        ><i class="fas fa-chevron-left"></i
      ></a>
    </li>
    <li class="page-item">
      <a class="page-link active" href="javascript:void(0);">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="javascript:void(0);">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="javascript:void(0);">3</a>
    </li>
    <li class="page-item">
      <a class="page-link next" href="javascript:void(0);"
        ><i class="fas fa-chevron-right"></i
      ></a>
    </li>
  </ul>
</nav>
