

.tabs {
  position: relative;
  width: 100%;
  display: none;
}

.tabs.tab-active {
  display: block;
}

.tabs .title {
  padding: 0px 20px 100px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.tabs .tab-header,
.tabs .tab-indicator,
.tabs .tab-body {
  margin: 0 auto;
  width: 100%;

}

.tabs .tab-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  margin-top: -60px;
  z-index: 2;
}

.tabs .tab-header>div {
  width: 25%;
  text-align: center;
  padding: 15px 0px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}


.tabs .tab-header>div.active {
  color: #af2024;
}

.tabs .tab-indicator {
  position: relative;
  height: 60px;
  margin-top: -60px;
}

.tabs .tab-indicator>div {
  position: absolute;
  left: 0%;
  width: 25%;
  height: 100%;
  background: #fff;
  border-radius: 10px 10px 0px 0px;
  transition: all 300ms ease-in-out;
}

.tabs .tab-body {
  position: relative;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  overflow: hidden;
}

.tabs .tab-body>div {
  width: 100%;
  padding: 20px;
  opacity: 0;
  top: -100vh;
  display: none;
}

.tabs .tab-body>div>* {
  margin: 10px 0px;
}

.tabs .tab-body>div>p {
  color: #555;
  font-size: 15px;
}

.tabs .tab-body>div.active {
  top: 0px;
  opacity: 1;
  display: block;
  transition: top 0ms ease-in-out 0ms,
    opacity 500ms ease-in-out 0ms;
}
