<div>
  <h6 class="sub-title wow fadeInUp" data-wow-delay="0.4s">
    We Have 208,000+ Live Jobs
  </h6>
  <h1 class="wow fadeInUp" id="text" data-wow-delay="0.6s">
    Your <span class="text-primary">Dream</span> Job Is Waiting For You
  </h1>
  <p class="text text-primary wow fadeInUp font-w500" data-wow-delay="0.8s">
    Type your keywork, then click search to find your perfect job.
  </p>
  <div class="bnr-search-bar wow fadeInUp" data-wow-delay="1.0s">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-9 col-lg-8 col-md-9 col-sm-12">
        <div class="row center-line">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="search-bar">
              <span>
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
              <div class="icon-content w-100">
                <input
                  name="dzEmail"
                  required="required"
                  class="form-control"
                  placeholder="Job Title, Keywords..."
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="search-bar">
              <span>
                <i class="fa-solid fa-location-dot"></i>
              </span>
              <div class="icon-content w-100">
                <input
                  name="dzEmail"
                  required="required"
                  class="form-control"
                  placeholder="City Or Postcode"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-find-jobs-btton
        class="col-xl-3 col-lg-4 col-md-3 col-sm-12 text-lg-end text-md-center text-center"
      >
      </app-find-jobs-btton>
    </div>
  </div>
  <h6 class="bottom-contact wow fadeInUp" data-wow-delay="1.2s">
    <span>Popular Searches: </span>
    <a href="javascript:void(0);">Designer,</a>
    <a href="javascript:void(0);">Senor,</a>
    <a href="javascript:void(0);">Architecture,</a>
    <a href="javascript:void(0);">IOS,</a>
    <a href="javascript:void(0);">Etc.</a>
  </h6>
</div>
