<section class="content-inner overflow-hidden position-relative">
  <div class="container">
    <app-header [title]="title" [header]="header"></app-header>

    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div
          class="icon-bx-wraper style-2 text-center wow fadeInUp"
          data-wow-delay="1.0s"
        >
          <div class="icon-media">
            <svg
              class="mb-3"
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="56"
              viewBox="0 0 71 71"
            >
              <g transform="translate(-457 -443)">
                <rect
                  width="71"
                  height="71"
                  rx="12"
                  transform="translate(457 443)"
                  fill="#c5c5c5"
                ></rect>
                <g transform="translate(457 443)">
                  <rect
                    data-name="placeholder"
                    width="71"
                    height="71"
                    rx="12"
                    fill="#2769ee"
                  ></rect>
                  <circle
                    data-name="Ellipse 12"
                    cx="18"
                    cy="18"
                    r="18"
                    transform="translate(15 20)"
                    fill="#fff"
                  ></circle>
                  <circle
                    data-name="Ellipse 11"
                    cx="11"
                    cy="11"
                    r="11"
                    transform="translate(36 15)"
                    fill="#ffe70c"
                    style="mix-blend-mode: multiply; isolation: isolate"
                  ></circle>
                </g>
              </g>
            </svg>
          </div>
          <div class="icon-content">
            <h5 class="fs-20 mb-0">
              <a href="javascript:void(0);">UI/Ux Design</a>
            </h5>
            <p class="text">
              <a href="javascript:void(0);">100+Posted New Jobs</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div
          class="icon-bx-wraper style-2 text-center wow fadeInUp"
          data-wow-delay="1.2s"
        >
          <div class="icon-media">
            <svg
              class="mb-3"
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="56"
              viewBox="0 0 71 71"
            >
              <g transform="translate(-0.332)">
                <rect
                  width="71"
                  height="71"
                  rx="12"
                  transform="translate(0.332)"
                  fill="#c5c5c5"
                ></rect>
                <g transform="translate(0.332)">
                  <rect
                    data-name="placeholder"
                    width="71"
                    height="71"
                    rx="12"
                    fill="#ee27c0"
                  ></rect>
                  <ellipse
                    data-name="Ellipse 12"
                    cx="17.987"
                    cy="18"
                    rx="17.987"
                    ry="18"
                    transform="translate(15.147 20)"
                    fill="#fff"
                  ></ellipse>
                  <ellipse
                    data-name="Ellipse 11"
                    cx="10.887"
                    cy="11"
                    rx="10.887"
                    ry="11"
                    transform="translate(35.973 15)"
                    fill="#ffe70c"
                    style="mix-blend-mode: multiply; isolation: isolate"
                  ></ellipse>
                </g>
              </g>
            </svg>
          </div>
          <div class="icon-content">
            <h5 class="fs-20 mb-0">
              <a href="javascript:void(0);">Illustration</a>
            </h5>
            <p class="text">
              <a href="javascript:void(0);">200+Posted New Jobs</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div
          class="icon-bx-wraper style-2 text-center wow fadeInUp"
          data-wow-delay="1.4s"
        >
          <div class="icon-media">
            <svg
              class="mb-3"
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="56"
              viewBox="0 0 71 71"
            >
              <g transform="translate(0.093)">
                <rect
                  width="71"
                  height="71"
                  rx="12"
                  transform="translate(-0.093)"
                  fill="#c5c5c5"
                ></rect>
                <g transform="translate(-0.093)">
                  <rect
                    data-name="placeholder"
                    width="71"
                    height="71"
                    rx="12"
                    fill="#27beee"
                  ></rect>
                  <ellipse
                    data-name="Ellipse 12"
                    cx="17.75"
                    cy="18"
                    rx="17.75"
                    ry="18"
                    transform="translate(14.947 20)"
                    fill="#fff"
                  ></ellipse>
                  <ellipse
                    data-name="Ellipse 11"
                    cx="11.211"
                    cy="11"
                    rx="11.211"
                    ry="11"
                    transform="translate(35.5 15)"
                    fill="#ffe70c"
                    style="mix-blend-mode: multiply; isolation: isolate"
                  ></ellipse>
                </g>
              </g>
            </svg>
          </div>
          <div class="icon-content">
            <h5 class="fs-20 mb-0">
              <a href="javascript:void(0);">Cool Art</a>
            </h5>
            <p class="text">
              <a href="javascript:void(0);">150+Posted New Jobs</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div
          class="icon-bx-wraper style-2 text-center wow fadeInUp"
          data-wow-delay="1.6s"
        >
          <div class="icon-media">
            <svg
              class="mb-3"
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="56"
              viewBox="0 0 71 71"
            >
              <g transform="translate(-0.483)">
                <rect
                  width="71"
                  height="71"
                  rx="12"
                  transform="translate(0.483)"
                  fill="#c5c5c5"
                ></rect>
                <g transform="translate(0.483)">
                  <rect
                    data-name="placeholder"
                    width="71"
                    height="71"
                    rx="12"
                    fill="#bec747"
                  ></rect>
                  <ellipse
                    data-name="Ellipse 12"
                    cx="18.46"
                    cy="18"
                    rx="18.46"
                    ry="18"
                    transform="translate(14.2 20)"
                    fill="#fff"
                  ></ellipse>
                  <ellipse
                    data-name="Ellipse 11"
                    cx="10.887"
                    cy="11"
                    rx="10.887"
                    ry="11"
                    transform="translate(35.973 15)"
                    fill="#ffe70c"
                    style="mix-blend-mode: multiply; isolation: isolate"
                  ></ellipse>
                </g>
              </g>
            </svg>
          </div>
          <div class="icon-content">
            <h5 class="fs-20 mb-0">
              <a href="javascript:void(0);">Web Design</a>
            </h5>
            <p class="text">
              <a href="javascript:void(0);">100+Posted New Jobs</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div
          class="icon-bx-wraper style-2 text-center wow fadeInUp"
          data-wow-delay="1.8s"
        >
          <div class="icon-media">
            <svg
              class="mb-3"
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="56"
              viewBox="0 0 71 71"
            >
              <g transform="translate(0.228)">
                <rect
                  width="71"
                  height="71"
                  rx="12"
                  transform="translate(-0.228)"
                  fill="#c5c5c5"
                ></rect>
                <g transform="translate(-0.228)">
                  <rect
                    data-name="placeholder"
                    width="71"
                    height="71"
                    rx="12"
                    fill="#7b25d1"
                  ></rect>
                  <ellipse
                    data-name="Ellipse 12"
                    cx="17.75"
                    cy="18"
                    rx="17.75"
                    ry="18"
                    transform="translate(14.947 20)"
                    fill="#fff"
                  ></ellipse>
                  <ellipse
                    data-name="Ellipse 11"
                    cx="11.211"
                    cy="11"
                    rx="11.211"
                    ry="11"
                    transform="translate(35.5 15)"
                    fill="#ffe70c"
                    style="mix-blend-mode: multiply; isolation: isolate"
                  ></ellipse>
                </g>
              </g>
            </svg>
          </div>
          <div class="icon-content">
            <h5 class="fs-20 mb-0">
              <a href="javascript:void(0);">Produt Design</a>
            </h5>
            <p class="text">
              <a href="javascript:void(0);">100+Posted New Jobs</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div
          class="icon-bx-wraper style-2 text-center wow fadeInUp"
          data-wow-delay="2.0s"
        >
          <div class="icon-media">
            <svg
              class="mb-3"
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="56"
              viewBox="0 0 71 71"
            >
              <g transform="translate(-0.016)">
                <rect
                  width="71"
                  height="71"
                  rx="12"
                  transform="translate(0.016)"
                  fill="#c5c5c5"
                ></rect>
                <g transform="translate(0.016)">
                  <rect
                    data-name="placeholder"
                    width="71"
                    height="71"
                    rx="12"
                    fill="#858585"
                  ></rect>
                  <ellipse
                    data-name="Ellipse 12"
                    cx="17.987"
                    cy="18"
                    rx="17.987"
                    ry="18"
                    transform="translate(15.147 20)"
                    fill="#fff"
                  ></ellipse>
                  <ellipse
                    data-name="Ellipse 11"
                    cx="11.36"
                    cy="11"
                    rx="11.36"
                    ry="11"
                    transform="translate(35.973 15)"
                    fill="#ffe70c"
                    style="mix-blend-mode: multiply; isolation: isolate"
                  ></ellipse>
                </g>
              </g>
            </svg>
          </div>
          <div class="icon-content">
            <h5 class="fs-20 mb-0">
              <a href="javascript:void(0);">Developer</a>
            </h5>
            <p class="text">
              <a href="javascript:void(0);">200+Posted New Jobs</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div
          class="icon-bx-wraper style-2 text-center wow fadeInUp"
          data-wow-delay="2.2s"
        >
          <div class="icon-media">
            <svg
              class="mb-3"
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="56"
              viewBox="0 0 71 71"
            >
              <g transform="translate(-0.016)">
                <rect
                  width="71"
                  height="71"
                  rx="12"
                  transform="translate(0.016)"
                  fill="#c5c5c5"
                ></rect>
                <g transform="translate(0.016)">
                  <rect
                    data-name="placeholder"
                    width="71"
                    height="71"
                    rx="12"
                    fill="#ee9827"
                  ></rect>
                  <ellipse
                    data-name="Ellipse 12"
                    cx="17.987"
                    cy="18"
                    rx="17.987"
                    ry="18"
                    transform="translate(15.147 20)"
                    fill="#fff"
                  ></ellipse>
                  <ellipse
                    data-name="Ellipse 11"
                    cx="11.36"
                    cy="11"
                    rx="11.36"
                    ry="11"
                    transform="translate(35.973 15)"
                    fill="#ffe70c"
                    style="mix-blend-mode: multiply; isolation: isolate"
                  ></ellipse>
                </g>
              </g>
            </svg>
          </div>
          <div class="icon-content">
            <h5 class="fs-20 mb-0">
              <a href="javascript:void(0);">Animation</a>
            </h5>
            <p class="text">
              <a href="javascript:void(0);">150+Posted New Jobs</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div
          class="icon-bx-wraper style-2 bg-primary text-center wow fadeInUp"
          data-wow-delay="2.4s"
        >
          <div class="icon-content">
            <h4 class="title">
              <a href="javascript:void(0);">100+ More Category</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
