<div style="background-color: #f6f4fa;">
  <div class="job-bx style-1 wow fadeInUp" data-wow-delay="1.0s" >
    <div class="d-flex m-b25 justify-content-between">
      <span class="media">
        <img src="assets/images/company-logo/pic1.png" alt="image" />
      </span>
      <ul>
        <li>
          <a class="job-day" href="javascript:void(0);">1 Day Ago</a>
        </li>
        <li>
          <a class="job-time" href="javascript:void(0);">Full Time</a>
        </li>
      </ul>
    </div>
    <div class="job-contant">
      <h6 class="job-title">
        <a routerLink="/job-details" routerLinkActive="router-link-active">Need Senior Stock Technician</a>
      </h6>
      <p class="text">1363-1385 Sunset Blvd Los Angeles, CA 90026, USA</p>
      <hr>
      <div class="card-content">
        <p>Type</p>
        <p>
          Freelance</p>
      </div>
      <div class="card-content">
        <p>Salary</p>
        <p>
          HK$70000 - HK$100000 per month + bonus</p>
      </div>
      <div class="card-content">
        <p>Location</p>
        <p>London</p>
      </div>
    </div>
    <div class="jobs-amount" style="display: flex; justify-content: flex-start; gap: 8px;">
      <a style="border-radius: 50px;" class="btn btn-primary" routerLink="/job-details"
        routerLinkActive="router-link-active"><i class="fa-solid fa-chevron-right"></i></a>
      <h6 class="amount">Read more</h6>
      <!-- <h6 class="amount">$3500<span>/ month</span></h6> -->
    </div>
  </div>
</div>
