<div class="page-wraper">
  <!-- Header -->
  <header class="site-header mo-left header header-transparent">
    <!-- Main Header -->
    <app-header-navbar></app-header-navbar>
    <!-- Main Header End -->
  </header>
  <!-- Header End -->

  <div class="page-content">
    <!-- Landing-page section -->
    <app-section1-landing></app-section1-landing>
    <!-- Landing-page section End-->

    <!-- Working-proccess-cards-section -->
    <app-section2-cards></app-section2-cards>
    <!-- Working-proccess-cards-section End -->

    <!-- Companies-section -->
    <app-section3-companies></app-section3-companies>
    <!-- Companies-section End -->

    <!-- Jobs-category -->
    <app-section4-jobs-category></app-section4-jobs-category>
    <!-- Jobs-category End -->

    <!-- Job-posts -->
    <app-section5-job-posts></app-section5-job-posts>
    <!-- Job-posts End -->

    <!-- Users-review -->
    <app-section6-users-review></app-section6-users-review>
    <!-- Users-review End -->

    <!--footer-action -->
    <app-section7-footer-action></app-section7-footer-action>
    <!-- footer-action -->
  </div>

  <!-- Footer -->
  <app-section8-footer></app-section8-footer>
  <!-- Footer End -->

  <button class="scroltop icon-up" type="button">
    <i class="fas fa-arrow-up"></i>
  </button>
</div>
