<aside class="side-bar sticky-top right">
  <div class="widget">
    <div class="widget-title">
      <h4 class="title">Search</h4>
    </div>
    <div class="search-bx">
      <form role="search" method="post">
        <div class="input-group">
          <input
            name="text"
            class="form-control style-1"
            placeholder="Search.."
            type="text"
          />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary sharp radius-no">
              <i class="fa-solid fa-magnifying-glass scale3"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>

  <div class="widget widget_categories">
    <div class="widget-title">
      <h4 class="title">Categories</h4>
    </div>
    <ul>
      <li class="cat-item"><a href="#">Categories(10)</a></li>
      <li class="cat-item"><a href="#">Education(13)</a></li>
      <li class="cat-item"><a href="#">Information(9)</a></li>
      <li class="cat-item"><a href="#">Jobs(3)</a></li>
      <li class="cat-item"><a href="#">Learn(12)</a></li>
      <li class="cat-item"><a href="#">Skill(6)</a></li>
    </ul>
  </div>

  <div class="widget recent-posts-entry">
    <div class="widget-title">
      <h4 class="title">Recent Post</h4>
    </div>
    <div class="widget-post-bx">
      <div class="widget-post clearfix">
        <div class="dz-media">
          <img src="assets/images/blog/small/pic1.jpg" alt="" />
        </div>
        <div class="dz-info">
          <h6 class="title">
            <a href="blog-details.html"
              >Equipment you can count on. People you can trust.</a
            >
          </h6>
          <div class="dz-meta">
            <ul>
              <li class="post-date">
                <a href="javascript:void(0);"> 17 May 2022</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="widget-post clearfix">
        <div class="dz-media">
          <img src="assets/images/blog/small/pic2.jpg" alt="" />
        </div>
        <div class="dz-info">
          <h6 class="title">
            <a href="blog-details.html"
              >Advanced Service Functions by Air Transport</a
            >
          </h6>
          <div class="dz-meta">
            <ul>
              <li class="post-date">
                <a href="javascript:void(0);"> 07 Jan, 2022</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="widget-post clearfix">
        <div class="dz-media">
          <img src="assets/images/blog/small/pic3.jpg" alt="" />
        </div>
        <div class="dz-info">
          <h6 class="title">
            <a href="blog-details.html"
              >Proper arrangement for keeping the goods in the warehouse</a
            >
          </h6>
          <div class="dz-meta">
            <ul>
              <li class="post-date">
                <a href="javascript:void(0);"> 25 Aug, 2022</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="widget widget_tag_cloud">
    <div class="widget-title">
      <h4 class="title">Popular Tags</h4>
    </div>
    <div class="tagcloud">
      <a href="javascript:void(0);">General</a>
      <a href="javascript:void(0);">Payment</a>
      <a href="javascript:void(0);">Jobs </a>
      <a href="javascript:void(0);">Application</a>
      <a href="javascript:void(0);">Work</a>
      <a href="javascript:void(0);">Recruiting</a>
      <a href="javascript:void(0);">Income</a>
      <a href="javascript:void(0);">Employer</a>
    </div>
  </div>
</aside>
