<div class="widget-title">
  <h4 class="title">Search</h4>
</div>
<div class="search-bx">
  <form role="search" method="post">
    <div class="input-group">
      <input
        name="text"
        class="form-control style-1"
        placeholder="Search.."
        type="text"
      />
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary sharp radius-no">
          <i class="fa-solid fa-magnifying-glass scale3"></i>
        </button>
      </span>
    </div>
  </form>
</div>
