<div class="dashboard-body">
  <div class="position-relative">
    <!-- ************************ Header **************************** -->
    <header class="dashboard-header">
      <div class="d-flex align-items-center justify-content-end">
        <button class="dash-mobile-nav-toggler d-block d-md-none me-auto">
          <span></span>
        </button>
        <div class="profile-notification ms-2 ms-md-5 me-4">
          <button
            class="noti-btn dropdown-toggle"
            type="button"
            id="notification-dropdown"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
          >
            <img
              src="../images/lazy.svg"
              data-src="../images/icon/icon_11.svg"
              alt=""
              class="lazy-img"
            />
            <div class="badge-pill"></div>
          </button>
          <ul class="dropdown-menu" aria-labelledby="notification-dropdown">
            <li>
              <h4>Notification</h4>
              <ul class="style-none notify-list">
                <li class="d-flex align-items-center unread">
                  <img
                    src="../images/lazy.svg"
                    data-src="images/icon/icon_36.svg"
                    alt=""
                    class="lazy-img icon"
                  />
                  <div class="flex-fill ps-2">
                    <h6>You have 3 new mails</h6>
                    <span class="time">3 hours ago</span>
                  </div>
                </li>
                <li class="d-flex align-items-center">
                  <img
                    src="../images/lazy.svg"
                    data-src="images/icon/icon_37.svg"
                    alt=""
                    class="lazy-img icon"
                  />
                  <div class="flex-fill ps-2">
                    <h6>Your job post has been approved</h6>
                    <span class="time">1 day ago</span>
                  </div>
                </li>
                <li class="d-flex align-items-center unread">
                  <img
                    src="../images/lazy.svg"
                    data-src="images/icon/icon_38.svg"
                    alt=""
                    class="lazy-img icon"
                  />
                  <div class="flex-fill ps-2">
                    <h6>Your meeting is cancelled</h6>
                    <span class="time">3 days ago</span>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <h2 class="main-title">Contract</h2>

    <div class="bg-white card-box border-20" style="position: relative">
      <div>
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <img
                src="../images/logo-neom-ar-spaced.webp"
                alt=""
                class="mx-auto"
              />
              <p style="margin: 0; font-weight: 500">
                C.R.1010355026 - C.CNO:293011
              </p>
              <p style="margin: 0; font-weight: 500; color: #ae1f23">
                <a href="www.fnrco.com.sa">www.neom.com.sa</a>
              </p>
              <p style="margin: 0; font-weight: 700">EMPLOYMENT CONTRACT</p>
            </div>
            <hr style="height: 3px; background-color: #000000; opacity: 1" />
          </div>

          <div class="col-12 col-lg-6">
            <div class="p-2">
              <p>
                The parties to this Employment Agreement dated
                <strong>10/10/1445</strong> corresponding to
                <strong>12/9/2023</strong> is made in Riyadh , kingdom of Saudi
                Arabia between:
              </p>
              <p>
                1 - <strong>First National Company</strong> <br />
                Riyadh, PO Box 261656, Postal Code 11342, Kingdom of Saudi
                Arabia <br />
                Phone / <strong>920007892</strong> <br />
                E-mail/ <strong>HR&#64;fnrco.com.sa</strong> <br />
                And represented in the signing of this contract <br />
                Mr. / <strong>MARI JABER T</strong> <br />
                In his / <strong>HR Manager</strong> <br />
                And referred to hereinafter as
                <strong>First Party- Employer</strong>
              </p>
              <p>
                2 - Mr. / <br />
                Occupation / <br />
                Nationality / <br />
                Passport No. / <br />
                Issued at / <br />
                Contract Status/ <strong>Family</strong> <br />
                Visa number / <br />
                Mobile number/ <br />
                E-mail/ <br />
                Address/ <strong>Riyadh</strong> <br />
                <strong
                  >And referred to hereinafter as Second Party-Employee</strong
                >
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="p-2" dir="rtl">
              <p>
                تم ابرام هذا العقد فى مدينة الرياض , المملكة العربية السعودية
                بتاريخ
                <strong>1445/10/10</strong>هـ الموافق<strong> 12/9/2023</strong>
                م بين كلاً من:
              </p>
              <p>
                1 - <strong>الشركة الوطنية الاولى</strong> <br />
                وعنوانها الرياض ص.ب 261656 ، الرمز البريدي 11342 - المملكة
                العربية السعودية <br />
                هاتف / <strong>920007892</strong> <br />
                البريد الإلكتروني/ <strong>HR&#64;fnrco.com.sa</strong><br />
                ويمثلها في هذا العقد السيد /
                <strong>مرعي بن جابر بن ذيب</strong> <br />
                بصفته / <strong>مدير الموارد البشرية</strong> <br />
                يشار اليه فيما بعد <strong>(بالطرف الأول)</strong>
              </p>
              <p>
                2 - - السيد/ <br />
                المهنة / <br />
                الجنسية / <br />
                يحمل جواز سفر رقم / <br />
                مكان إصداره / <br />
                الحالة التعاقدية/ <strong>عائلي</strong> <br />
                رقم التأشيرة/ <br />
                رقم الجوال/ ………………….. <br />
                البريد الالكترونى/ ………………….. <br />
                العنوان/ <strong>الرياض</strong> <br />
                ويشار إليه فيما بعد <strong>(الطرف الثاني) - الموظف</strong>
                <br />
              </p>
            </div>
          </div>

          <div class="col-12 my-4" style="text-align: right">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <div
                  class="button-group d-inline-flex align-items-center mt-30"
                >
                  <a href="./pdf/offer.pdf" download class="dash-btn-two tran3s"
                    >Download Contract</a
                  >
                </div>
              </div>
              <div>
                <div
                  class="button-group d-inline-flex align-items-center mt-30"
                >
                  <a
                    href="#"
                    class="dash-cancel-btn tran3s me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#rejectModal"
                    >Reject</a
                  >
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#loginModal"
                    class="dash-btn-two tran3s"
                    >Accept and Signature</a
                  >
                  <!-- <a href="#" class="login-btn-one" data-bs-toggle="modal"
                                      data-bs-target="#loginModal"
                                      style="margin-right: 15px !important;">Login</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
