<section class="content-inner bg-light position-relative overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 m-b30">
        <div class="dz-media style-1">
          <div class="row">
            <div class="col-12">
              <img
                src="assets/images/blog/pic3.jpg"
                alt="image"
                class="wow bounceInLeft"
                data-wow-delay="0.6s"
              />
            </div>
            <!-- <div class="col-6">
              <img src="assets/images/about/pic2.jpg" alt="image" class="wow bounceInLeft" data-wow-delay="0.4s">
            </div> -->
          </div>
          <!-- <span class="text wow bounceInLeft" data-wow-delay="0.8s">We Need A UI/UX<br>Designer For Our Team</span> -->
        </div>
      </div>
      <div class="col-lg-6 m-b30">
        <div class="dz-contant style-1">
          <div class="section-head">
            <h6 class="text wow fadeInUp" data-wow-delay="1.0s">Compaines</h6>
            <h2 class="title wow fadeInUp" data-wow-delay="1.2s">
              500+ World Top Company Posted There Job
            </h2>
          </div>

          <a
            class="btn btn-primary btn-lg wow fadeInUp"
            data-wow-delay="1.4s"
            href="javascript:void(0);"
            >Find Jobs</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
