<div class="dashboard-body">
  <div class="position-relative">
    <!-- ************************ Header **************************** -->
    <header class="dashboard-header">
      <div class="d-flex align-items-center justify-content-end">
        <button class="dash-mobile-nav-toggler d-block d-md-none me-auto">
          <span></span>
        </button>
        <div class="profile-notification ms-2 ms-md-5 me-4">
          <button
            class="noti-btn dropdown-toggle"
            type="button"
            id="notification-dropdown"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
          >
            <img
              src="../images/lazy.svg"
              data-src="../images/icon/icon_11.svg"
              alt=""
              class="lazy-img"
            />
            <div class="badge-pill"></div>
          </button>
          <ul class="dropdown-menu" aria-labelledby="notification-dropdown">
            <li>
              <h4>Notification</h4>
              <ul class="style-none notify-list">
                <li class="d-flex align-items-center unread">
                  <img
                    src="../images/lazy.svg"
                    data-src="images/icon/icon_36.svg"
                    alt=""
                    class="lazy-img icon"
                  />
                  <div class="flex-fill ps-2">
                    <h6>You have 3 new mails</h6>
                    <span class="time">3 hours ago</span>
                  </div>
                </li>
                <li class="d-flex align-items-center">
                  <img
                    src="../images/lazy.svg"
                    data-src="images/icon/icon_37.svg"
                    alt=""
                    class="lazy-img icon"
                  />
                  <div class="flex-fill ps-2">
                    <h6>Your job post has been approved</h6>
                    <span class="time">1 day ago</span>
                  </div>
                </li>
                <li class="d-flex align-items-center unread">
                  <img
                    src="../images/lazy.svg"
                    data-src="images/icon/icon_38.svg"
                    alt=""
                    class="lazy-img icon"
                  />
                  <div class="flex-fill ps-2">
                    <h6>Your meeting is cancelled</h6>
                    <span class="time">3 days ago</span>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <h2 class="main-title">Job Offer</h2>

    <div class="bg-white card-box border-20" style="position: relative">
      <div>
        <div class="row justify-content-center align-items-center">
          <div class="col-12">
            <div class="text-center">
              <img
                src="https://fnrco.com.sa/frontend/images/logo-5.png"
                alt=""
                class="mx-auto"
              />
              <p style="margin: 0; font-weight: 500">
                C.R.1010355026 - C.CNO:293011
              </p>
              <p style="margin: 0; font-weight: 500; color: #ae1f23">
                <a href="www.fnrco.com.sa">www.fnrco.com.sa</a>
              </p>
              <p style="margin: 0; font-weight: 700">JOB OFFER</p>
            </div>
            <hr style="height: 3px; background-color: #000000; opacity: 1" />
          </div>

          <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
              <span>Iqama NO: 2158859187</span>
              <span>MPR No: 4039</span>
              <span>Date: 10 Oct,2024</span>
            </div>
          </div>

          <div class="col-12 my-4">
            <p style="margin: 0; font-weight: 500; line-height: normal">
              Dear Mr . Mirza Maaz Baig
            </p>
            <p style="margin: 0; font-weight: 500; line-height: normal">
              Nationality : India
            </p>
            <p style="margin: 0; font-weight: 500; line-height: normal">
              This job offer confirms the basic terms & conditions of our
              employment offer to you at First National Human Resources Company
              (FNRCO).
            </p>
          </div>

          <div class="col-12 my-4">
            <table class="border-2">
              <tbody class="border-2">
                <tr>
                  <td style="font-weight: 500">Client</td>
                  <td>SIEMENS Mobility GmbH-KSA Branch</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Position</td>
                  <td>Project Management Analyst</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">
                    Total Monthly Salary in Saudi Riyal
                  </td>
                  <td>3000 SAR Payable at the end of each Gregorian month.</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Basic Salary</td>
                  <td>1756 SAR</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Food</td>
                  <td>300 SAR</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Housing</td>
                  <td>439 SAR</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Transportation</td>
                  <td>175.75 SAR</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Fixed Overtime</td>
                  <td>329.25 SAR</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Holidays</td>
                  <td>
                    Four (4) Days, for each Eid, One (1) Day for the Saudi
                    National Day and One (1) Day for the Saudi Foundation Day
                    with a total time of Ten (10) days yearly.
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Notice period</td>
                  <td>As per Saudi Labor Law</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">End of Service Award</td>
                  <td>As per Saudi Labor Law</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Contract Status</td>
                  <td>Single</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Airline Ticket</td>
                  <td>
                    an economy class round trip ticket will be provided every
                    year
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Probation</td>
                  <td>90days from commencing or reporting to the work</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Terms of Contract</td>
                  <td>
                    Six (6) Months , Renewable for a similar or a different
                    period, as the parties may mutually agree upon
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Vacation</td>
                  <td>30 calendar days every year</td>
                </tr>
                <tr>
                  <td style="font-weight: 500">Work hours</td>
                  <td>48 Hours plus 6 hours fixed Overtime per Week</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-12 my-4">
            <div class="p-2" style="border: 2px solid rgb(43, 42, 42)">
              <strong style="text-decoration: underline"
                >Please note the following:</strong
              >
              <p>
                The commencement of employment contract will begin upon arrvial
                in the kingdom of Saudi Arabia and is contingent upon successful
                medical clearance and successful background verification and
                screening of all documents. Your employment with our Company is
                subject to the following
              </p>
              <p>
                1) Your written and acceptance of this offer. <br />
                2) Related work visa approval from First National Human
                Resources Company (FNRCO) authorities & stamping at your
                Passport. Successful transfer of Sponsorship to First National
                Human Resources Company (FNRCO). ( In case of Local Transfer).
              </p>
              <p>
                This Job Offer validity is from
                <strong> seven (7) days </strong> from the upper date, otherwise
                it will be cancelled.
              </p>
              <p>
                Submission of all documentation and approvals should be
                <strong
                  >maximum of one (1) month only from the upper date</strong
                >, otherwise, the offer will be invalid or cancelled.
              </p>
              <p>
                Penalties on expired Iqama shall be deductible from the
                employee, If applicable
              </p>
              <strong>
                Note: Your acceptance of this offer is not a confirmation of
                your job. The instruction to proceed with your deployment /
                mobilization is still subject to the client’s final approval. If
                any of the documents submitted are found to have been forged or
                faked, you will be legally liable regarding any related
                consequences.
              </strong>
            </div>
          </div>

          <div class="col-12 my-4">
            <p>
              We look forward to having you on board. Please, sign and date this
              letter to demonstrate. Please don't hesitate to contact us if
              required, before signing this offer
            </p>
          </div>

          <!-- <div class="col-12 my-4">
                      <strong>Sincerely,</strong>
                      <div class="my-4">
                          <table border="1" style="border-collapse: collapse; text-align: center; width: 100%;">
                              <thead>
                                  <tr>
                                      <td rowspan="3" style="width: 30%;"></td>
                                      <td colspan="4">ACCEPTED BY</td>
                                  </tr>
                                  <tr>
                                      <td style="width: 20%;">Name</td>
                                      <td colspan="3" style="text-align: left;">Mirza Maaz Baig</td>
                                  </tr>
                                  <tr>
                                      <td style="width: 20%;">SIGNATURE (As on Passport)</td>
                                      <td rowspan="2" style="width: 25%;"></td>
                                      <td rowspan="2" style="width: 25%;"></td>
                                      <td rowspan="2" style="writing-mode: vertical-rl; text-align: left;">Thumb Impression</td>
                                  </tr>
                                  <tr>
                                      <td style="width: 30%;">Talent Acquisition Manager</td>
                                      <td style="width: 20%;">Date</td>
                                  </tr>
                              </thead>
                          </table>
                          <p style="text-align: center; margin: 20px 0;">
                              <strong>Note:</strong> All information in this job offer is confidential.<br>
                              Any disclosure of this information as per company policy may result in termination of this offer.
                          </p>

                      </div>
                  </div> -->

          <div class="col-12">
            <hr />
          </div>

          <div class="col-12 my-4" style="text-align: right"></div>
          <div class="col-12 my-4" style="text-align: right">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <div
                  class="button-group d-inline-flex align-items-center mt-30"
                >
                  <a href="./pdf/offer.pdf" download class="dash-btn-two tran3s"
                    >Download Job Offer</a
                  >
                </div>
              </div>
              <div>
                <div
                  class="button-group d-inline-flex align-items-center mt-30"
                >
                  <a
                    href="#"
                    class="dash-cancel-btn tran3s me-3"
                    data-bs-toggle="modal"
                    data-bs-target="#rejectModal"
                    >Reject</a
                  >
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#loginModal"
                    class="dash-btn-two tran3s"
                    >Accept</a
                  >
                  <!-- <a href="#" class="login-btn-one" data-bs-toggle="modal"
                                      data-bs-target="#loginModal"
                                      style="margin-right: 15px !important;">Login</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
