<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 m-b30">
    <div
      class="icon-bx-wraper style-1 bg-clr-sky wow bounceInLeft"
      data-wow-delay="1.2s"
    >
      <div class="icon-media">
        <img src="assets/images/icon/pic1.png" alt="image" class="rounded" />
      </div>
      <div class="icon-content">
        <h4 class="title">Regiter Your Account</h4>
        <p class="text">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in
        </p>
      </div>
      <h3 class="count">01</h3>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 m-b30">
    <div
      class="icon-bx-wraper style-1 bg-clr-green wow bounceInRight"
      data-wow-delay="1.0s"
    >
      <div class="icon-media">
        <img src="assets/images/icon/pic3.png" alt="image" class="rounded" />
      </div>
      <div class="icon-content">
        <h4 class="title">Complete your profile</h4>
        <p class="text">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in
        </p>
      </div>
      <h3 class="count">02</h3>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 m-b30">
    <div
      class="icon-bx-wraper style-1 bg-clr-pink wow bounceInUp"
      data-wow-delay="1.2s"
    >
      <div class="icon-media">
        <img src="assets/images/icon/pic2.png" alt="image" class="rounded" />
      </div>
      <div class="icon-content">
        <h4 class="title">Apply Your Drem Job</h4>
        <p class="text">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in
        </p>
      </div>
      <h3 class="count">03</h3>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 m-b30">
    <div
      class="icon-bx-wraper style-1 bg-clr-green2 wow bounceInRight"
      data-wow-delay="1.4s"
    >
      <div class="icon-media">
        <img src="assets/images/icon/pic3.png" alt="image" class="rounded" />
      </div>
      <div class="icon-content">
        <h4 class="title">Offer Staging</h4>
        <p class="text">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in
        </p>
      </div>
      <h3 class="count">04</h3>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 m-b30">
    <div
      class="icon-bx-wraper style-1 bg-clr-green3 wow bounceInRight"
      data-wow-delay="1.6s"
    >
      <div class="icon-media">
        <img src="assets/images/icon/pic3.png" alt="image" class="rounded" />
      </div>
      <div class="icon-content">
        <h4 class="title">Onboarding</h4>
        <p class="text">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in
        </p>
      </div>
      <h3 class="count">05</h3>
    </div>
  </div>
</div>
