<div class="page-content">
  <!-- Banner  -->
  <div
    class="dz-bnr-inr dz-bnr-inr-sm text-center overlay-primary-dark"
    style="background-image: url('assets/images/banner/bnr1.jpg')"
  >
    <div class="container">
      <div class="dz-bnr-inr-entry">
        <h1>Page Not Found</h1>
        <!-- Breadcrumb Row -->
        <nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">404</li>
          </ul>
        </nav>
        <!-- Breadcrumb Row End -->
      </div>
    </div>
  </div>
  <!-- Banner End -->

  <section class="content-inner bg-white position-relative">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-xl-6 col-lg-6 col-md-8 col-sm-12 m-b30 text-center contain"
        >
          <!-- GIF Image Section -->
          <img
            src="assets/images/404.png"
            alt="404 Error"
            class="img-fluid m-b30"
          />
          <h2>Oops! The page you're looking for doesn't exist.</h2>
          <p class="lead">
            It seems the page you are looking for has been moved or deleted.
          </p>
          <div class="m-t30">
            <a class="btn btn-primary btn-lg" routerLink="/">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
