<div class="widget-title">
  <h4 class="title">Recent Post</h4>
</div>
<div class="widget-post-bx">
  <div class="widget-post clearfix">
    <div class="dz-media">
      <img src="assets/images/blog/small/pic1.jpg" alt="" />
    </div>
    <div class="dz-info">
      <h6 class="title">
        <a href="blog-details.html"
          >Equipment you can count on. People you can trust.</a
        >
      </h6>
      <div class="dz-meta">
        <ul>
          <li class="post-date">
            <a href="javascript:void(0);"> 17 May 2022</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="widget-post clearfix">
    <div class="dz-media">
      <img src="assets/images/blog/small/pic2.jpg" alt="" />
    </div>
    <div class="dz-info">
      <h6 class="title">
        <a href="blog-details.html"
          >Advanced Service Functions by Air Transport</a
        >
      </h6>
      <div class="dz-meta">
        <ul>
          <li class="post-date">
            <a href="javascript:void(0);"> 07 Jan, 2022</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="widget-post clearfix">
    <div class="dz-media">
      <img src="assets/images/blog/small/pic3.jpg" alt="" />
    </div>
    <div class="dz-info">
      <h6 class="title">
        <a href="blog-details.html"
          >Proper arrangement for keeping the goods in the warehouse</a
        >
      </h6>
      <div class="dz-meta">
        <ul>
          <li class="post-date">
            <a href="javascript:void(0);"> 25 Aug, 2022</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
