<div class="fix-wrapper h">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6">
        <div class="card mb-0 h-auto">
          <div class="card-body">
            <div class="text-center mb-3 logo-img">
              <a href="index.html"
                ><img
                  class="logo-auth light"
                  src="https://fnrco.com.sa/frontend/images/logo-5.png"
                  alt=""
              /></a>
              <a href="index.html"
                ><img
                  class="logo-auth dark"
                  src="images/logo-full-dark.png"
                  alt=""
              /></a>
            </div>
            <h4 class="text-center mb-4">Forgot Password</h4>
            <form action="https://jobick.dexignlab.com/xhtml/index.html">
              <div class="form-group mb-4">
                <label class="form-label" for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  value="hello@example.com"
                  id="email"
                />
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">
                  SUBMIT
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
