<div class="col-lg-12">
  <div
    class="dz-card style-1 blog-half overlay-shine wow fadeInUp"
    data-wow-delay="1.0s"
  >
    <div class="dz-media">
      <a href="blog-details.html"
        ><img src="assets/images/blog/pic1.jpg" alt=""
      /></a>
      <span class="date"><a href="javascript:void(0)">14 Feb 2012</a></span>
    </div>
    <div class="dz-info">
      <div class="dz-meta">
        <ul>
          <li class="post-author text-primary">
            <span>
              <i class="fa-solid fa-user"></i>
            </span>
            By Kk Sharma
          </li>
          <li class="post-date text-primary">
            <span>
              <i class="fa-solid fa-message"></i>
            </span>
            24 Comments
          </li>
        </ul>
      </div>
      <h4 class="dz-title">
        <a href="blog-details.html"
          >How to convince recruiters and get your dream</a
        >
      </h4>
      <p>
        Nostrud tem exrcitation duis laboris nisi ut aliquip sed duis aute
        cupidata lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <a routerLink="/blog-details" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>
