<div class="page-content content-down">
  <!-- Blog Details -->
  <section class="content-inner position-relative">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 m-b30">
          <div class="blog-single pt-20 sidebar dz-card">
            <div class="dz-media dz-media-rounded rounded">
              <img src="assets/images/blog/large/pic2.jpg" alt="" />
            </div>
            <div class="dz-info m-b30">
              <div class="job-detail-content">
                <h3 class="dz-title">
                  Senior Web Designer, Developer
                  <span class="job-duration">/ 9 months ago</span>
                </h3>
                <p class="job-address">
                  <i class="fa-solid fa-location-dot text-primary"></i>1363-1385
                  Sunset Blvd Los Angeles, CA 90026, USA
                </p>
                <div class="income">
                  <div class="jobs-amount">
                    $2000 - $2500 <span>/ Month</span>
                  </div>
                  <div class="apllication-area">
                    Application ends:<span class="apllication-date">
                      2023-05-31</span
                    >
                  </div>
                </div>
              </div>

              <div class="dz-post-text">
                <h4 class="title">Job Description:</h4>
                <p>
                  Ut enim ad minima veniam, quis nostrum exercitationem ullam
                  corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                  consequatur? Quis autem vel eum iure reprehenderit qui in ea
                  voluptate velit esse quam nihil molestiae consequatur, vel
                  illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
                <p>
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui
                  blanditiis praesentium voluptatum deleniti atque corrupti quos
                  dolores et quas molestias excepturi sint occaecati cupiditate
                  non provident, similique sunt in culpa qui officia deserunt
                  mollitia animi.
                </p>
                <h4 class="title">Requirements:</h4>
                <ul class="m-b30">
                  <li>
                    Must be able to communicate with others to convey
                    information effectively.
                  </li>
                  <li>
                    Personally passionate and up to date with current trends and
                    technologies, committed to quality and comfortable working
                    with adult media.
                  </li>
                  <li>
                    Rachelor or Master degree level educational background.
                  </li>
                  <li>4 years relevant PHP dev experience.</li>
                  <li>
                    Troubleshooting, testing and maintaining the core product
                    software and databases.
                  </li>
                </ul>
                <h4 class="title">Responsibilities:</h4>
                <ul class="m-b30">
                  <li>
                    Establish and promote design guidelines, best practices and
                    standards.
                  </li>
                  <li>
                    Accurately estimate design tickets during planning sessions.
                  </li>
                  <li>
                    Partnering with product and engineering to translate
                    business and user goals into elegant and practical designs.
                    that can deliver on key business and user metrics.
                  </li>
                  <li>
                    Create wireframes, storyboards, user flows, process flows
                    and site maps to communicate interaction and design.
                  </li>
                  <li>
                    Present and defend designs and key deliverables to peers and
                    executive level stakeholders.
                  </li>
                  <li>
                    Execute all visual design stages from concept to final
                    hand-off to engineering.
                  </li>
                </ul>
              </div>
              <h4 class="title">Social Profile:</h4>
              <div class="dz-share-post">
                <div class="dz-social-icon dark">
                  <ul>
                    <li>
                      <a
                        target="_blank"
                        class="fab fa-facebook-f"
                        href="https://www.facebook.com/dexignzone/"
                      ></a>
                    </li>
                    <li>
                      <a
                        target="_blank"
                        class="fab fa-instagram"
                        href="https://www.instagram.com/dexignzone/"
                      ></a>
                    </li>
                    <li>
                      <a
                        target="_blank"
                        class="fab fa-twitter"
                        href="https://twitter.com/dexignzones"
                      ></a>
                    </li>
                    <li>
                      <a
                        target="_blank"
                        class="fab fa-youtube"
                        href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g"
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <h4 class="title">Location:</h4>
          <div class="twm-m-map">
            <div class="twm-m-map-iframe">
              <iframe
                class="w-100"
                height="310"
                src="https://maps.google.com/maps?q=25.12879927431729,75.82016637907016&amp;hl=es&amp;z=14&amp;output=embed"
              ></iframe>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <aside class="side-bar sticky-top right">
            <div class="widget-title">
              <h4 class="title">Job Information</h4>
            </div>

            <div class="widget widget_categories style-2">
              <ul>
                <li>
                  <div class="info-inner">
                    <i class="fas fa-eye"></i>
                    <span class="title">Views</span>
                    <div class="info-discription">110</div>
                  </div>
                </li>
                <li>
                  <div class="info-inner">
                    <i class="fas fa-calendar-alt"></i>
                    <span class="title">DATE POSTED</span>
                    <div class="info-discription">July 28, 2022</div>
                  </div>
                </li>
                <li>
                  <div class="info-inner">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="title">LOCATION</span>
                    <div class="info-discription">
                      1363-1385 Sunset Blvd Los Angeles, CA 90026, USA
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info-inner">
                    <i class="fas fa-user-tie"></i>
                    <span class="title">JOB TITLE</span>
                    <div class="info-discription">
                      Senior Web Designer , Developer
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info-inner">
                    <i class="fas fa-clock"></i>
                    <span class="title">EXPERIENCE</span>
                    <div class="info-discription">
                      Senior Web Designer , Developer
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info-inner">
                    <i class="fas fa-suitcase"></i>
                    <span class="title">QUALIFICATION</span>
                    <div class="info-discription">Bachelor Degree</div>
                  </div>
                </li>
                <li>
                  <div class="info-inner">
                    <i class="fas fa-venus-mars"></i>
                    <span class="title">GENDER</span>
                    <div class="info-discription">Male</div>
                  </div>
                </li>
                <li>
                  <div class="info-inner">
                    <i class="fas fa-money-bill-wave"></i>
                    <span class="title">OFFERED SALARY</span>
                    <div class="info-discription">$2,500/ MONTH</div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="widget widget_tag_cloud">
              <div class="widget-title">
                <h4 class="title">Popular Tags</h4>
              </div>
              <div class="tagcloud">
                <a href="javascript:void(0);">General</a>
                <a href="javascript:void(0);">Payment</a>
                <a href="javascript:void(0);">Jobs </a>
                <a href="javascript:void(0);">Application</a>
                <a href="javascript:void(0);">Work</a>
                <a href="javascript:void(0);">Recruiting</a>
                <a href="javascript:void(0);">Income</a>
                <a href="javascript:void(0);">Employer</a>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Details -->
</div>
