<div class="widget-title">
  <h4 class="title">Job Information</h4>
</div>

<div class="widget widget_categories style-2">
  <ul>
    <li>
      <div class="info-inner">
        <i class="fas fa-eye"></i>
        <span class="title">Views</span>
        <div class="info-discription">110</div>
      </div>
    </li>
    <li>
      <div class="info-inner">
        <i class="fas fa-calendar-alt"></i>
        <span class="title">DATE POSTED</span>
        <div class="info-discription">July 28, 2022</div>
      </div>
    </li>
    <li>
      <div class="info-inner">
        <i class="fas fa-map-marker-alt"></i>
        <span class="title">LOCATION</span>
        <div class="info-discription">
          1363-1385 Sunset Blvd Los Angeles, CA 90026, USA
        </div>
      </div>
    </li>
    <li>
      <div class="info-inner">
        <i class="fas fa-user-tie"></i>
        <span class="title">JOB TITLE</span>
        <div class="info-discription">Senior Web Designer , Developer</div>
      </div>
    </li>
    <li>
      <div class="info-inner">
        <i class="fas fa-clock"></i>
        <span class="title">EXPERIENCE</span>
        <div class="info-discription">Senior Web Designer , Developer</div>
      </div>
    </li>
    <li>
      <div class="info-inner">
        <i class="fas fa-suitcase"></i>
        <span class="title">QUALIFICATION</span>
        <div class="info-discription">Bachelor Degree</div>
      </div>
    </li>
    <li>
      <div class="info-inner">
        <i class="fas fa-venus-mars"></i>
        <span class="title">GENDER</span>
        <div class="info-discription">Male</div>
      </div>
    </li>
    <li>
      <div class="info-inner">
        <i class="fas fa-money-bill-wave"></i>
        <span class="title">OFFERED SALARY</span>
        <div class="info-discription">$2,500/ MONTH</div>
      </div>
    </li>
  </ul>
</div>

<div class="widget widget_tag_cloud">
  <div class="widget-title">
    <h4 class="title">Popular Tags</h4>
  </div>
  <div class="tagcloud">
    <a href="javascript:void(0);">General</a>
    <a href="javascript:void(0);">Payment</a>
    <a href="javascript:void(0);">Jobs </a>
    <a href="javascript:void(0);">Application</a>
    <a href="javascript:void(0);">Work</a>
    <a href="javascript:void(0);">Recruiting</a>
    <a href="javascript:void(0);">Income</a>
    <a href="javascript:void(0);">Employer</a>
  </div>
</div>
