.background {
  /* background: url('https://i.pinimg.com/originals/2d/0f/79/2d0f79b6194ce739ee53e5ace7eb2d35.jpg') no-repeat center center/cover; */
  background: url('../../../../public/assets/images/banner/cv-bunner.jpg') no-repeat center center/cover;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13%;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.image-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: left;
  width: 100%;
  max-width: 800px;
  /* padding: 20px; */
  box-sizing: border-box;
}

.content-wrapper h1 {
  font-size: 2em;
  margin-bottom: 0 !important;
  color: white;
}

.content-wrapper p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.content-wrapper ul {
  /* list-style-type: disc; */
  /* margin-left: 20px; */
  margin-bottom: 10px;
  list-style: disc !important;
  padding-left: 20px;
}

.content-wrapper li {
  list-style: disc !important;
}

.content-wrapper li::marker {
  color: #ae1f23;
  font-size: 1.2rem;
}

.logo-wrapper {
  position: relative;
  z-index: 1;
  margin-top: 20px;
  width: 100%;
  max-width: 200px;
  text-align: center;
}

.logo-wrapper img {
  width: 100%;
  height: auto;
}

.animation-border {
  width: 100%;
  border-bottom: 5px solid #ae1f23;
  transition: width 1.2s ease;
  /* Smooth width animation */
  margin-bottom: 10px;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .background {
    flex-direction: row;
    padding: 40px;
  }

  .image-content {
    width: 60%;
    padding: 20px;
  }

  .logo-wrapper {
    width: 30%;
    text-align: right;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .image-content {
    width: 70%;
  }

  .logo-wrapper {
    width: 25%;
  }

  .content-wrapper h1 {
    font-size: 2.5em;
  }
}


/* ======================== */

.form-card {
  width: 80%;
  max-width: 800px;
  background: #ecf3fd00;
  margin: 5% 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards-content {
  color: #4d2c2d;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  gap: 15px;
}

mat-form-field {
  flex: 1;
}

.full-width {
  width: 100%;
}

.submit-btn {
  display: block;
  width: 100px;
  margin: 20px auto 0;
  background-color: #be1f24 !important;
  transition: 0.3s ease-in-out;
  color: white !important;
  border-radius: 5px !important;
}

.submit-btn:hover {
  background-color: #ae1f23 !important;
  color: white !important;
  transition: 0.3s ease-in-out;
}
