<div class="background">
  <div class="image-content">
    <div class="content-wrapper">
      <h1>Upload Your CV</h1>
      <div class="animation-border"></div>
      <p>
        If you have technology, insurance, or banking skills and experience, send us your CV by filling out the form
        below.
      </p>
      <p>By registering your details we can...</p>
      <ul>
        <li>Contact you with suitable jobs</li>
        <li>Offer you career advice & guidance</li>
        <li>Occasionally, send you salary and pay rate insights</li>
      </ul>
      <p>We look forward to working with you.</p>
      <p>
        Alternatively, if you want to work for Gravitas as part of our recruitment team or as part of our non-sales
        team, click below to upload your CV
      </p>
    </div>
  </div>
  <div class="logo-wrapper">
    <img src="https://cv-fnrco.com/frontend/images/logo_en_Group2.png" alt="Company Logo">
  </div>
</div>


<div
  style="display: flex; background-color: #ecf3fd69;
; flex-direction: column; gap: 12px; justify-content: center; align-items: center; width: 100%; max-width: 100%; height: 100%;">
  <mat-card class="form-card">
    <h2 class="title cards-content" style="color: #ae1f23;">Send your resume to join the team
    </h2>
    <form class="form" [formGroup]="cvForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- First Name -->
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" required />
          <mat-error *ngIf="cvForm.get('firstName')?.invalid && (cvForm.get('firstName')?.dirty || cvForm.get('firstName')?.touched)">
            First Name is required.
          </mat-error>
        </mat-form-field>

        <!-- Second Name -->
        <mat-form-field appearance="outline">
          <mat-label>Second Name</mat-label>
          <input matInput formControlName="secondName" required />
          <mat-error *ngIf="cvForm.get('secondName')?.invalid && (cvForm.get('secondName')?.dirty || cvForm.get('secondName')?.touched)">
            Second Name is required.
          </mat-error>
        </mat-form-field>

        <!-- Family Name -->
        <mat-form-field appearance="outline">
          <mat-label>Family Name</mat-label>
          <input matInput formControlName="familyName" required />
          <mat-error *ngIf="cvForm.get('familyName')?.invalid && (cvForm.get('familyName')?.dirty || cvForm.get('familyName')?.touched)">
            Family Name is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
          <mat-error *ngIf="cvForm.get('email')?.invalid && (cvForm.get('email')?.dirty || cvForm.get('email')?.touched)">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>

        <!-- Phone Number -->
        <mat-form-field appearance="outline">
          <mat-label>Phone No.</mat-label>
          <input matInput formControlName="phoneNo" required maxlength="11" />
          <mat-error *ngIf="cvForm.get('phoneNo')?.hasError('required') && (cvForm.get('phoneNo')?.dirty || cvForm.get('phoneNo')?.touched)">
            Phone Number is required.
          </mat-error>
          <mat-error *ngIf="cvForm.get('phoneNo')?.hasError('pattern') && (cvForm.get('phoneNo')?.dirty || cvForm.get('phoneNo')?.touched)">
            Phone Number must be 11 digits and contain only numbers.
          </mat-error>
        </mat-form-field>

      </div>

      <div class="row">
        <!-- Gender -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">Gender</mat-label>
          <mat-select formControlName="selectedGender" required>
            <mat-option [value]="item.id" *ngFor="let item of gender">{{item.meta_data_text}}</mat-option>
          </mat-select>
          <mat-error *ngIf="cvForm.get('selectedGender')?.invalid && (cvForm.get('selectedGender')?.dirty || cvForm.get('selectedGender')?.touched)">
            Please select a gender.
          </mat-error>
        </mat-form-field>
        <!-- Martial Status -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">Marital Status</mat-label>
          <mat-select formControlName="selectedMartialStatus" required>
            <mat-option [value]="item.id" *ngFor="let item of martialStatus">{{item.meta_data_text}}</mat-option>
          </mat-select>
          <mat-error *ngIf="cvForm.get('selectedMartialStatus')?.invalid && (cvForm.get('selectedMartialStatus')?.dirty || cvForm.get('selectedMartialStatus')?.touched)">
            Please select a marital status.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <!-- Specialization -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">Specialization</mat-label>
          <mat-select formControlName="selectedPosition" required>
            <mat-option [value]="item.id" *ngFor="let item of positions">{{ item.position_name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="cvForm.get('selectedPosition')?.invalid && (cvForm.get('selectedPosition')?.dirty || cvForm.get('selectedPosition')?.touched)">
            Please select a specialization.
          </mat-error>
        </mat-form-field>

        <!-- Qualifications -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">Qualifications</mat-label>
          <mat-select formControlName="selectedQualifications" required>
            <mat-option [value]="item.id" *ngFor="let item of qualifications">{{ item.meta_data_text }}</mat-option>
          </mat-select>
          <mat-error *ngIf="cvForm.get('selectedQualifications')?.invalid && (cvForm.get('selectedQualifications')?.dirty || cvForm.get('selectedQualifications')?.touched)">
            Please select a qualification.
          </mat-error>
        </mat-form-field>
      </div>


      <div class="row">
        <!-- Nationality -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">Nationality</mat-label>
          <mat-select formControlName="selectedCountry" (selectionChange)="getCitiesByCountry()" required>
            <mat-option [value]="item.id" *ngFor="let item of countries">{{ item.country_name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="cvForm.get('selectedCountry')?.invalid && (cvForm.get('selectedCountry')?.dirty || cvForm.get('selectedCountry')?.touched)">
            Please select a nationality.
          </mat-error>
        </mat-form-field>

        <!-- Current Location -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">Current Location</mat-label>
          <mat-select formControlName="selectedLocation" required>
            <mat-option [value]="item.id" *ngFor="let item of locations">{{ item.country_name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="cvForm.get('selectedLocation')?.invalid && (cvForm.get('selectedLocation')?.dirty || cvForm.get('selectedLocation')?.touched)">
            Please select your current location.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <!-- Source -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">Source</mat-label>
          <mat-select formControlName="selectedSource" required>
            <mat-option [value]="item.id" *ngFor="let item of source">{{ item.meta_data_text }}</mat-option>
          </mat-select>
          <mat-error *ngIf="cvForm.get('selectedSource')?.invalid && (cvForm.get('selectedSource')?.dirty || cvForm.get('selectedSource')?.touched)">
            Please select a source.
          </mat-error>
        </mat-form-field>

        <!-- Years of Experience -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">Years of Experience</mat-label>
          <mat-select formControlName="selectedYear" required>
            <mat-option [value]="item" *ngFor="let item of year">{{ item }}</mat-option>
          </mat-select>
          <mat-error *ngIf="cvForm.get('selectedYear')?.invalid && (cvForm.get('selectedYear')?.dirty || cvForm.get('selectedYear')?.touched)">
            Please select your years of experience.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <!-- City -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">City</mat-label>
          <mat-select formControlName="selectedCity" required>
            <mat-option [value]="item.id" *ngFor="let item of allCities">{{item.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="cvForm.get('selectedCity')?.invalid && (cvForm.get('selectedCity')?.dirty || cvForm.get('selectedCity')?.touched)">
            Please select a city.
          </mat-error>
        </mat-form-field>
        <!-- Date of Birth -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="selectedDate" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <mat-error *ngIf="cvForm.get('selectedDate')?.hasError('required')">
            Date of Birth is required.
          </mat-error>
          <mat-error *ngIf="cvForm.get('selectedDate')?.hasError('futureDate')">
            Date of Birth cannot be in the future.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <!-- Language -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">Languages</mat-label>
          <mat-select formControlName="selectedLanguage" required>
            <mat-option [value]="item.id" *ngFor="let item of languages">{{item.meta_data_text}}</mat-option>
          </mat-select>
          <mat-error *ngIf="cvForm.get('selectedLanguage')?.invalid && (cvForm.get('selectedLanguage')?.dirty || cvForm.get('selectedLanguage')?.touched)">
            Please select a language.
          </mat-error>
        </mat-form-field>

        <!-- Address -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" required />
          <mat-error *ngIf="cvForm.get('address')?.invalid && (cvForm.get('address')?.dirty || cvForm.get('address')?.touched)">
            Address is required.
          </mat-error>
        </mat-form-field>
      </div>


      <div class="row">
        <!-- Current Salary -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Current Salary</mat-label>
          <input matInput type="number" formControlName="currentSalary" placeholder="Enter current salary" required />
          <mat-error *ngIf="cvForm.get('currentSalary')?.invalid && (cvForm.get('currentSalary')?.dirty || cvForm.get('currentSalary')?.touched)">
            Please enter your current salary.
          </mat-error>
        </mat-form-field>

        <!-- Expected Salary -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Expected Salary</mat-label>
          <input matInput type="number" formControlName="expectedSalary" placeholder="Enter expected salary" required />
          <mat-error *ngIf="cvForm.get('expectedSalary')?.invalid && (cvForm.get('expectedSalary')?.dirty || cvForm.get('expectedSalary')?.touched)">
            Please enter your expected salary.
          </mat-error>
        </mat-form-field>

        <!-- Currency -->
        <mat-form-field appearance="outline">
          <mat-label class="cards-content">Currency</mat-label>
          <mat-select formControlName="selectedCurrency" required>
            <mat-option [value]="item.id" *ngFor="let item of currencies">{{item.currency_name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="cvForm.get('selectedCurrency')?.invalid && (cvForm.get('selectedCurrency')?.dirty || cvForm.get('selectedCurrency')?.touched)">
            Please select a currency.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Upload CV -->
      <div class="custom-file-input" style="padding-bottom: 20px;">
        <button [ngClass]="{'uploaded': isCvUploaded, 'default': !isCvUploaded}" style="width: 100%;" mat-raised-button (click)="fileInput.click()">Upload CV</button>
        <input type="file" #fileInput (change)="onFileSelected($event)" hidden />
      </div>

      <!-- IqamaType -->
      <mat-form-field appearance="outline" *ngIf="cvForm.value.selectedCountry !== 1 && cvForm.value.selectedLocation === 1">
        <mat-label class="cards-content">Iqama Type</mat-label>
        <mat-select formControlName="selectedIqama" required>
          <mat-option [value]="item.id" *ngFor="let item of iqamaType">{{item.meta_data_text}}</mat-option>
        </mat-select>
        <mat-error *ngIf="cvForm.get('selectedIqama')?.invalid && (cvForm.get('selectedIqama')?.dirty || cvForm.get('selectedIqama')?.touched)">
          Please select an Iqama Type.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label class="cards-content">Describe yourself here...</mat-label>
        <textarea matInput rows="3"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" class="submit-btn" type="submit">Send</button>
    </form>
  </mat-card>
</div>
