<div class="page-content content-down">
  <!-- Banner  -->
  <app-global-banner [bannerData]="bannerData"></app-global-banner>
  <!-- Banner End -->

  <!-- blog-list section start -->
  <section class="content-inner bg-white position-relative">
    <div class="container">
      <div class="row">
        <!-- Left section -->
        <div class="col-xl-8 col-lg-8">
          <div class="row">
            <app-blog-card *ngFor="let item of blogCards" class="col-lg-12">
            </app-blog-card>
            <app-blog-pagination
              class="col-xl-12 col-lg-12 m-b30 m-t30 m-lg-t10"
            >
            </app-blog-pagination>
          </div>
        </div>
        <!-- Right section -->
        <app-right-section class="col-xl-4 col-lg-4"> </app-right-section>
      </div>
    </div>
  </section>
  <!-- blog-list section start -->
</div>
