<div class="page-content content-down">
  <!-- Banner  -->
  <div
    class="dz-bnr-inr dz-bnr-inr-sm text-center overlay-primary-dark"
    style="background-image: url(assets/images/banner/bnr2.jpg)"
  >
    <div class="container">
      <div class="dz-bnr-inr-entry">
        <h1>Blog</h1>
        <nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- Banner End -->

  <!-- blog-list section start -->
  <section class="content-inner bg-white position-relative">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8">
          <div class="row">
            <div class="col-lg-12">
              <div
                class="dz-card style-1 blog-half overlay-shine wow fadeInUp"
                data-wow-delay="1.0s"
              >
                <div class="dz-media">
                  <a href="blog-details.html"
                    ><img src="assets/images/blog/pic1.jpg" alt=""
                  /></a>
                  <span class="date"
                    ><a href="javascript:void(0)">14 Feb 2012</a></span
                  >
                </div>
                <div class="dz-info">
                  <div class="dz-meta">
                    <ul>
                      <li class="post-author text-primary">
                        <span>
                          <i class="fa-solid fa-user"></i>
                        </span>
                        By Kk Sharma
                      </li>
                      <li class="post-date text-primary">
                        <span>
                          <i class="fa-solid fa-message"></i>
                        </span>
                        24 Comments
                      </li>
                    </ul>
                  </div>
                  <h4 class="dz-title">
                    <a href="blog-details.html"
                      >How to convince recruiters and get your dream</a
                    >
                  </h4>
                  <p>
                    Nostrud tem exrcitation duis laboris nisi ut aliquip sed
                    duis aute cupidata lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.
                  </p>
                  <a href="blog-details.html" class="btn btn-primary"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div
                class="dz-card style-1 blog-half overlay-shine wow fadeInUp"
                data-wow-delay="1.2s"
              >
                <div class="dz-media">
                  <a href="blog-details.html"
                    ><img src="assets/images/blog/pic2.jpg" alt=""
                  /></a>
                  <span class="date"
                    ><a href="javascript:void(0)">18 Jun 2018</a></span
                  >
                </div>
                <div class="dz-info">
                  <div class="dz-meta">
                    <ul>
                      <li class="post-author text-primary">
                        <span>
                          <i class="fa-solid fa-user"></i>
                        </span>
                        By Kk Sharma
                      </li>
                      <li class="post-date text-primary">
                        <span>
                          <i class="fa-solid fa-message"></i>
                        </span>
                        24 Comments
                      </li>
                    </ul>
                  </div>
                  <h4 class="dz-title">
                    <a href="blog-details.html"
                      >5 things to know about the March 2022</a
                    >
                  </h4>
                  <p>
                    Nostrud tem exrcitation duis laboris nisi ut aliquip sed
                    duis aute cupidata lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.
                  </p>
                  <a href="blog-details.html" class="btn btn-primary"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div
                class="dz-card style-1 blog-half overlay-shine wow fadeInUp"
                data-wow-delay="0.4s"
              >
                <div class="dz-media">
                  <a href="blog-details.html"
                    ><img src="assets/images/blog/pic3.jpg" alt=""
                  /></a>
                  <span class="date"
                    ><a href="javascript:void(0)">19 Mar 2019</a></span
                  >
                </div>
                <div class="dz-info">
                  <div class="dz-meta">
                    <ul>
                      <li class="post-author text-primary">
                        <span>
                          <i class="fa-solid fa-user"></i>
                        </span>
                        By Kk Sharma
                      </li>
                      <li class="post-date text-primary">
                        <span>
                          <i class="fa-solid fa-message"></i>
                        </span>
                        24 Comments
                      </li>
                    </ul>
                  </div>
                  <h4 class="dz-title">
                    <a href="blog-details.html"
                      >Job Board is the most important sector in</a
                    >
                  </h4>
                  <p>
                    Nostrud tem exrcitation duis laboris nisi ut aliquip sed
                    duis aute cupidata lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.
                  </p>
                  <a href="blog-details.html" class="btn btn-primary"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div
                class="dz-card style-1 blog-half overlay-shine wow fadeInUp"
                data-wow-delay="0.6s"
              >
                <div class="dz-media">
                  <a href="blog-details.html"
                    ><img src="assets/images/blog/pic5.jpg" alt=""
                  /></a>
                  <span class="date"
                    ><a href="javascript:void(0)">22 Dec 2022</a></span
                  >
                </div>
                <div class="dz-info">
                  <div class="dz-meta">
                    <ul>
                      <li class="post-author text-primary">
                        <span>
                          <i class="fa-solid fa-user"></i>
                        </span>
                        By Kk Sharma
                      </li>
                      <li class="post-date text-primary">
                        <span>
                          <i class="fa-solid fa-message"></i>
                        </span>
                        24 Comments
                      </li>
                    </ul>
                  </div>
                  <h4 class="dz-title">
                    <a href="blog-details.html"
                      >Jobs You Should Answer Truthfully.</a
                    >
                  </h4>
                  <p>
                    Nostrud tem exrcitation duis laboris nisi ut aliquip sed
                    duis aute cupidata lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.
                  </p>
                  <a href="blog-details.html" class="btn btn-primary"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12 m-b30 m-t30 m-lg-t10">
              <nav aria-label="Blog Pagination">
                <ul
                  class="pagination style-2 text-center wow fadeInUp"
                  data-wow-delay="0.8s"
                >
                  <li class="page-item">
                    <a class="page-link prev" href="javascript:void(0);"
                      ><i class="fas fa-chevron-left"></i
                    ></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link active" href="javascript:void(0);">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0);">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0);">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link next" href="javascript:void(0);"
                      ><i class="fas fa-chevron-right"></i
                    ></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <aside class="side-bar sticky-top right">
            <div class="widget">
              <div class="widget-title">
                <h4 class="title">Search</h4>
              </div>
              <div class="search-bx">
                <form role="search" method="post">
                  <div class="input-group">
                    <input
                      name="text"
                      class="form-control style-1"
                      placeholder="Search.."
                      type="text"
                    />
                    <span class="input-group-btn">
                      <button
                        type="submit"
                        class="btn btn-primary sharp radius-no"
                      >
                        <i class="fa-solid fa-magnifying-glass scale3"></i>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
            </div>

            <div class="widget widget_categories">
              <div class="widget-title">
                <h4 class="title">Categories</h4>
              </div>
              <ul>
                <li class="cat-item"><a href="#">Categories(10)</a></li>
                <li class="cat-item"><a href="#">Education(13)</a></li>
                <li class="cat-item"><a href="#">Information(9)</a></li>
                <li class="cat-item"><a href="#">Jobs(3)</a></li>
                <li class="cat-item"><a href="#">Learn(12)</a></li>
                <li class="cat-item"><a href="#">Skill(6)</a></li>
              </ul>
            </div>

            <div class="widget recent-posts-entry">
              <div class="widget-title">
                <h4 class="title">Recent Post</h4>
              </div>
              <div class="widget-post-bx">
                <div class="widget-post clearfix">
                  <div class="dz-media">
                    <img src="assets/images/blog/small/pic1.jpg" alt="" />
                  </div>
                  <div class="dz-info">
                    <h6 class="title">
                      <a href="blog-details.html"
                        >Equipment you can count on. People you can trust.</a
                      >
                    </h6>
                    <div class="dz-meta">
                      <ul>
                        <li class="post-date">
                          <a href="javascript:void(0);"> 17 May 2022</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="widget-post clearfix">
                  <div class="dz-media">
                    <img src="assets/images/blog/small/pic2.jpg" alt="" />
                  </div>
                  <div class="dz-info">
                    <h6 class="title">
                      <a href="blog-details.html"
                        >Advanced Service Functions by Air Transport</a
                      >
                    </h6>
                    <div class="dz-meta">
                      <ul>
                        <li class="post-date">
                          <a href="javascript:void(0);"> 07 Jan, 2022</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="widget-post clearfix">
                  <div class="dz-media">
                    <img src="assets/images/blog/small/pic3.jpg" alt="" />
                  </div>
                  <div class="dz-info">
                    <h6 class="title">
                      <a href="blog-details.html"
                        >Proper arrangement for keeping the goods in the
                        warehouse</a
                      >
                    </h6>
                    <div class="dz-meta">
                      <ul>
                        <li class="post-date">
                          <a href="javascript:void(0);"> 25 Aug, 2022</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="widget widget_tag_cloud">
              <div class="widget-title">
                <h4 class="title">Popular Tags</h4>
              </div>
              <div class="tagcloud">
                <a href="javascript:void(0);">General</a>
                <a href="javascript:void(0);">Payment</a>
                <a href="javascript:void(0);">Jobs </a>
                <a href="javascript:void(0);">Application</a>
                <a href="javascript:void(0);">Work</a>
                <a href="javascript:void(0);">Recruiting</a>
                <a href="javascript:void(0);">Income</a>
                <a href="javascript:void(0);">Employer</a>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- blog-list section start -->
</div>
