<div class="page-content content-down">
  <!-- Banner  -->
  <div
    class="dz-bnr-inr dz-bnr-inr-sm text-center overlay-primary-dark"
    style="background-image: url(assets/images/banner/bnr2.jpg)"
  >
    <div class="container">
      <div class="dz-bnr-inr-entry">
        <h1>Blog</h1>
        <nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- Banner End -->

  <!-- blog-list section start -->
  <section class="content-inner bg-white position-relative">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8">
          <div class="row">
            <app-blog-card *ngFor="let item of blogCards" class="col-lg-12">
            </app-blog-card>
            <app-blog-pagination
              class="col-xl-12 col-lg-12 m-b30 m-t30 m-lg-t10"
            >
            </app-blog-pagination>
          </div>
        </div>
        <app-right-section class="col-xl-4 col-lg-4"> </app-right-section>
      </div>
    </div>
  </section>
  <!-- blog-list section start -->
</div>
