<div routerLink="job-details">
  <div class="job-bx style-1 wow fadeInUp" data-wow-delay="1.0s">
    <div class="d-flex m-b25 justify-content-between">
      <span class="media">
        <img src="assets/images/company-logo/pic1.png" alt="image" />
      </span>
      <ul>
        <li>
          <a class="job-day" href="javascript:void(0);">1 Day Ago</a>
        </li>
        <li>
          <a class="job-time" href="javascript:void(0);">Full Time</a>
        </li>
      </ul>
    </div>
    <div class="job-contant">
      <h6 class="job-title">
        <div routerLink="/job-details">Need Senior Stock Technician</div>
      </h6>
      <p class="text">1363-1385 Sunset Blvd Los Angeles, CA 90026, USA</p>
    </div>
    <div class="jobs-amount">
      <h6 class="amount">$3500<span>/ month</span></h6>
      <div
        class="btn btn-primary"
        routerLink="/job-details"
        routerLinkActive="router-link-active"
      >
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </div>
</div>
