<div class="widget-title style-1">
  <h4 class="title" id="reply-title">
    Leave Your Comment
    <small
      ><a
        style="display: none"
        href="javascript:void(0);"
        id="cancel-comment-reply-link"
        rel="nofollow"
        >Cancel reply</a
      ></small
    >
  </h4>
</div>
<form class="comment-form" id="commentform" method="post">
  <p class="comment-form-author">
    <label for="author">Name <span class="required">*</span></label>
    <input type="text" name="Author" placeholder="Author" id="author" />
  </p>
  <p class="comment-form-email">
    <label for="email">Email <span class="required">*</span></label>
    <input type="text" placeholder="Email" name="email" id="email" />
  </p>
  <p class="comment-form-comment">
    <label for="comment">Comment</label>
    <textarea
      rows="8"
      name="comment"
      placeholder="Comment"
      id="comment"
    ></textarea>
  </p>
  <p class="form-submit">
    <button type="submit" class="btn btn-primary" id="submit">SUBMIT</button>
  </p>
</form>
