<div class="sticky-header main-bar-wraper navbar-expand-lg">
  <div class="main-bar clearfix">
    <div class="container clearfix">
      <!-- Website Logo -->
      <div class="logo-header">
        <a href="index.html" class="logo-dark"
          ><img src="https://fnrco.com.sa/frontend/images/logo-5.png" alt=""
        /></a>
      </div>

      <!-- Nav Toggle Button -->
      <button
        class="navbar-toggler collapsed navicon justify-content-end"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>

      <!-- Extra Nav -->
      <div class="extra-nav">
        <div class="extra-cell">
          <button id="quik-search-btn" type="button" class="header-search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <a
            class="btn btn-dark btn-lg btn-shadow"
            target="_blank"
            routerLink="/login-page"
            >login</a
          >
        </div>
      </div>

      <!-- Search Form -->
      <div class="dz-quik-search on">
        <form action="#">
          <input
            name="search"
            value=""
            type="text"
            class="form-control"
            placeholder="Enter Your Keyword ..."
          />
          <span id="quik-search-remove"><i class="fa-solid fa-xmark"></i></span>
        </form>
      </div>

      <!-- Header Nav -->
      <div
        class="header-nav navbar-collapse collapse justify-content-end"
        id="navbarNavDropdown"
      >
        <div class="logo-header">
          <a
            routerLink="/"
            routerLinkActive="router-link-active"
            class="logo-dark"
            ><img src="https://fnrco.com.sa/frontend/images/logo-5.png" alt=""
          /></a>
        </div>
        <ul class="nav navbar-nav navbar navbar-left">
          <li><a routerLink="/">Home</a></li>
          <!-- <li><a href="about-us.html">About Us</a></li> -->

          <li>
            <a routerLink="/jobs" routerLinkActive="router-link-active"
              >Find Jobs</a
            >
          </li>
          <li>
            <a routerLink="/register-page">Create Your CV</a>

            <!-- <ul class="sub-menu">
              <li><a href="jobs-grid.html">Jobs Grid</a></li>
              <li><a href="job-detail.html">Job Detail</a></li>
            </ul> -->
          </li>
          <!--  <li><a href="pricing.html">Pricing</a></li> -->
          <li>
            <a routerLink="/blog-grid">Blog</a>
            <!-- <ul class="sub-menu">
              <li><a href="blog-list.html">Blog List</a></li>
              <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul> -->
          </li>
          <li><a routerLink="/contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
