<li>
  <div class="comment-body">
    <div class="comment-author vcard">
      <img class="avatar photo" src="assets/images/avatar/avatar1.jpg" alt="" />
      <cite class="fn">Celesto Anderson</cite>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="reply">
      <a href="javascript:void(0);" class="comment-reply-link"
        ><i class="fa fa-reply"></i>Reply</a
      >
    </div>
  </div>
  <!-- list END -->
</li>
