<section class="content-inner-1 overflow-hidden position-relative bg-white">
  <div class="container">
    <app-header [title]="title" [header]="header"></app-header>
    <div class="swiper-container blog-swiper-1 overflow-hidden">
      <div class="swiper-wrapper">
        <app-user-review-card
          class="swiper-slide"
          *ngFor="let item of userReview"
        ></app-user-review-card>
      </div>
    </div>
  </div>
  <div class="num-pagination style-1">
    <div
      class="testimonial-next btn-prev wow bounceInLeft"
      data-wow-delay="1.6s"
    >
      <i class="fa-solid fa-angle-left"></i>
    </div>
    <div
      class="testimonial-prev btn-next wow bounceInRight"
      data-wow-delay="1.8s"
    >
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </div>
</section>
