<div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
  <div class="dz-media">
    <a routerLink="blog-details"
      ><img src="assets/images/blog/pic6.jpg" alt=""
    /></a>
    <span class="date"><a href="javascript:void(0)">18 Mar 2010</a></span>
  </div>
  <div class="dz-info">
    <div class="dz-meta">
      <ul>
        <li class="post-author text-primary">
          <span>
            <i class="fa-solid fa-user"></i>
          </span>
          By Kk Sharma
        </li>
        <li class="post-date text-primary">
          <span>
            <i class="fa-solid fa-message"></i>
          </span>
          24 Comments
        </li>
      </ul>
    </div>
    <h4 class="dz-title">
      <a href="blog-details.html">5 Reasons Why You Should Invest In Jobs.</a>
    </h4>
    <p>A wonderful serenity has taken of my entire soul, like these.</p>
    <a href="blog-details.html" class="btn btn-primary">Read More</a>
  </div>
</div>
